<!-- Main jumbotron for a primary marketing message or call to action -->
<!-- <div class="jumbotron">
    <div class="container">
        <h2 class="display-3">Check barcodes here.....</h2>
        <p>Check out these barcodes that you can start scanning to earn shopkick points across all your favorite shopping destinations</p>
        <p>
            <a (click)="howItWorks()" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div> -->

<div class="jumbotron">
    <h2>Store Details</h2>
    <div class="container" *ngFor="let comp of company">
        <div class="row">
            <div class="col-md-4" class="row">
                <div>Store Name : <input type="text" name="name" value="{{comp.name}}" /></div>
                <div>Store Description: <input type="text" name="description" value="{{comp.description}}" /></div>
                <div>Store Image Url : <input type="text" name="imageUrl" value="{{comp.imageUrl}}" /></div>
              
                
            </div>
        </div>
    </div>





    <hr>


</div>
<!-- /container -->