<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Barcodes for {{barcodes[0]?.company}}</h1>
        <p>Help yourselves to a host of barcodes for {{barcodes[0]?.company}} that you can just scan from the comfort of your
            home and earn shopkick points. It's that easy !!! </p>
        <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
    </div>
</div>


    <div style="padding:20px">
        <mat-form-field>
            <mat-select [(ngModel)]="selected" name="cat" placeholder="Choose Category"  (change)="filterProducts($event)">
                <mat-option *ngFor="let cat of category" [value]="cat">{{ cat }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

<div>
    <!-- Example row of columns -->
    <div class="row">
        <div *ngFor='let key of JSObject.keys(barcodes)'  style="width:350px; margin:0 auto;padding:10px">
            <div *ngIf='barcodes[key].archived == false'>
                <h3>{{barcodes[key].productName}}</h3>
                <p>{{barcodes[key].productDescription}}</p>
                <img src="{{barcodes[key].productImageUrl}}" width="300" height="300" style="padding:10px"/>
                <img src="{{barcodes[key].barcodeImageUrl}}" width="300" height="300" style="padding:10px"/>
                <br/>
            </div>
        </div>
    </div>


    
    <hr>
</div>
<!-- /container -->